@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Montserrat:wght@300;400;500;600&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-cinzel: "Cinzel", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-gold-primary: #b89742;
  --color-gold-dark: #8e702b;
  --color-gold-light: #f4ebd0;
  --color-bg-cream: #fdfbf7;
  --color-whatsapp: #25d366;
}

@layer base {
  body {
    @apply bg-bg-cream text-neutral-800 font-montserrat;
  }
}
